.header{
	padding: 40px;
	text-align: center;
	background-color: #fff;
}
form.mui-input-group{
	margin-top: 0;
}
.me{
	display: flex;
}
.me-icon{
	padding-top: 8px;
}
.account{
	margin-left: 8px;
	line-height: 40px;
}
.header-top{
	padding: 20px;
	background-color: #fff;
	margin-bottom: 10px;
}
.me-info{
	margin-top: 10px;
}
.icon-link span{
	margin-right: 10px;
}
.c-item div{
	display: inline-block;
}
.c-item .t-info{
	padding-top: 5px;
}
.r-right{
	float: right;
}
.action-box{
	text-align: center;
	margin-top: 20px;
}
.index-action-box{
	margin-top: 40px;
	text-align: center;
}
.shop-text{
	text-align: left;
	width: 50%
}
.shop-img{
	width: 20%;
}
.shop-action{
	text-align: right;
	width: 30%;
	padding-top: 20px;
}
.signin-box{
	margin-top: 10px;
}
.signin-box span{
	margin-right: 20px;
	margin-bottom: 10px;
}
.center{
	text-align: center;
}
.signin-tip{
	font-size: 12px;
	color: #666;
}
.hide{
	display: none;
}
.task-tip{
	margin-top: 40px;
	margin-bottom: 10px;
	padding-left: 14px;
}
.signin-box span{
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0;
}
.product-item{
	display: flex;
}
.btn-copy{
	vertical-align: -1px;
	margin-left: 10px;
}
.footer{
	display: flex;
	width: 100%;
	height: 50px;
	padding: 12px;
	border-top: 1px solid #ccc;
	position: fixed;
	bottom: 0;
	z-index: 2;
	background-color: #fff;
}
.footer-item{
	width: 25%;
	height: 100%;
	text-align: center;
}
.primary{
	color: blue;
}
.signin-action span{
	margin-top: 14px;
}
.dcc-box{
	padding: 20px 20px 0 20px;
}
.dcc-title{
	margin-bottom: 10px;
}
.apppay{
	text-align: center;
	padding-top: 20px;
}
.index-box{
	background-image: url(../images/bg1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding-bottom: 92%;
}
.signin-banner{
	width: 100%;
	height: 180px;
	background-image: url(../images/signin-banner.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 44px;
	color: #fff;
	padding-top: 19px;
}
.signin-info{
	padding: 10px 20px 10px 20px;
}
.signin-item{
	display: flex;
}
.signin-inner{
	width: 9.0909%;
	height: 60px;
	
}
.signin-inner.line{
	border: none;
	padding-top: 14px;
}
.signin-inner.line div{
	width: 100%;
	height: 2px;
	background-color: #666;
}
.sbg{
	height: 32px;
	background-image: url(../images/signin.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.stxt{
	font-size: 12px;
}
.nosignin{
	filter: grayscale(50%) opacity(30%);
}
.btn-signin{
	background-color: #c63384;
	width: 140px;
	height: 140px;
	line-height: 140px;
	margin: 0 auto;
	border-radius: 50%;
}
.cashout-tip{
	padding: 10px;
}
.qrcode{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	padding-top: 20px;
}