<!DOCTYPE html>
<html>
	<head>
		<link href="/static/extend/layui/css/layui.css" rel="stylesheet">
		<link href="/static/backend.css" rel="stylesheet">
	</head>
	<body>
		<div class="layui-container">
			<div class="layui-row">
				<form class="layui-form" method="POST">
					<input name="id" type="hidden" value="{$data['id']}">
					<div class="layui-form-item">
						<label class="layui-form-label">手机号</label>
						<label class="layui-form-label">{$data['mobile']}</label>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">金额</label>
						<label class="layui-form-label">{$data['amount']}</label>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-block">
							<select id="status" name="status" lay-filter="aihao">
								{foreach $cashout_status_list as $key => $v}
								<?php
									if($data['status'] == $key){
										$selected = 'selected';
									}else{
										$selected = '';
									}
								?>
									<option value="{$key}" {$selected}>{$v}</option>
								{/foreach}
							</select>
						</div>
					</div>
					
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="cashout-form">保存</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script src="/static/extend/layui/layui.js"></script>
		<script>
			layui.use(['element', 'layer', 'util', 'jquery', "form"], function() {
				var form = layui.form,
					element = layui.element,
					layer = layui.layer,
					util = layui.util,
					$ = layui.$;
				//监听提交
				form.on('submit(cashout-form)', function(data) {
				
					$.ajax({
						type: "POST",
						// async: false,
						dataType: "json",
						data: data.field,
						url: "{$url}",
						success: function(res){
							if(res.code == 1){
								layer.msg("保存成功");
								window.parent.location.reload();//刷新父页面
								var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
								parent.layer.close(index);
							}else{
								layer.msg(res.msg);
							}
						}
					});
					
					return false;
				});
			});
		</script>
	</body>
</html>
