<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>invite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link href="../../static/css/main.css" rel="stylesheet" />
		<style>
			html,body {
				background-color: #efeff4;
			}
			
			
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div class="apppay">
				付款成功，请左滑返回或者点击返回按钮。<br />
				<button type="button" id="btn-back" class="mui-btn mui-btn-primary">返回</button>
			</div>
		</div>
	</body>
	<script src="../../static/js/mui.min.js"></script>
		<script src="./../static/js/main.js"></script>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		
		mui.plusReady(function() {
			document.getElementById("btn-back").addEventListener("tap", function(){
				plus.webview.currentWebview().opener().reload();
				plus.webview.getWebviewById("html/tab-gain.html").reload();
				plus.webview.currentWebview().close();
			});
		});
	</script>
</html>