<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>抖财财</title>
		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link href="../../static/css/main.css" rel="stylesheet" />
		<style>
		
			.mui-input-group {
				margin-top: 10px;
			}
			
			.mui-input-group:first-child {
				margin-top: 20px;
			}
			
			.mui-input-group label {
				width: 50%;
			}
			
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 50%;
			}
			.mui-content-padded {
				margin-top: 25px;
			}
			
			.mui-btn {
				padding: 10px;
			}
			
		</style>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">收益提现</h1>
		</header>
		<div class="mui-content">
			
			<form id='login-form' class="mui-input-group">
				<div class="mui-input-row">
					<label>本金提现额度</label>
					<input id='account' type="number" class="mui-input-clear mui-input mui-numbox-input" placeholder="最高1800">
				</div>
				<div class="mui-input-row">
					<label>收益提现额度</label>
					<input id='account' type="tel" class="mui-input-clear mui-input" placeholder="最高80">
				</div>
			</form>
			
			<div class="mui-content-padded">
				<button id='btn-add' class="mui-btn mui-btn-block mui-btn-primary">确认</button>
			</div>
			<div class="signin-tip cashout-tip">
				佣金收益提现手续费为<span id="fee">20%</span>，未满周期提现手续费为佣金的30%，本金提现不收取手续费。
			</div>
		</div>
		<script src="../../static/js/mui.min.js"></script>
		<script src="./../static/js/main.js"></script> 
		<script>
			(function($, doc) {
				$.init({
					statusBarBackground: '#f7f7f7'
				});
				// $.plusReady(function() {
					
					$(".mui-content-padded").on('tap','.btn-add', function(){
						submit();
					});
					
					var submit = function(){
						mui.alert(888)
						mui.ajax(config.host + 'index.php?s=cash/cashout', {
							data:{
								username:'username',
								password:'password'
							},
							dataType:'json',//服务器返回json格式数据
							type:'post',//HTTP请求类型
							timeout:10000,//超时时间设置为10秒；
							headers:{'Content-Type':'application/json'},
							success:function(data){
								console.log(data)
								alert(JSON.stringify(data));
								//服务器返回响应，根据响应结果，分析是否登录成功；
								if(data.code == 0){
									mui.alert(data.msg);
								}else{
									var html = "";
									for(var i in data.data){
										html += '<li class="mui-table-view-cell">';
									}
									var plist = document.getElementById("product-list");
									plist.innerHTML = html;
								}
								
							},
							error:function(xhr,type,errorThrown){
								//异常处理；
								mui.alert("card");
								document.getElementById("ddddd").innerHTML = "抖音云端机器人88";
								console.log(type);
							}
						});
					}
				// });
			}(mui, document));
		</script>
	</body> 

</html>