<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="../../static/js/mui.min.js"></script>
		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link href="../../static/css/main.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
				padding-bottom: 51px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<h1 class="mui-title">抖财财</h1>
			<button id='link-login' class=" mui-pull-right mui-btn-link">登录</button>
		</header>
		<div class="mui-content">
			
			<div class="mui-slider">
			  <div class="mui-slider-group mui-slider-loop">
			    <!--支持循环，需要重复图片节点-->
			    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="static/images/ma.png" /></a></div>
			    <div class="mui-slider-item"><a href="#"><img src="static/images/logo.png" /></a></div>
			    <div class="mui-slider-item"><a href="#"><img src="static/images/ma.png" /></a></div>
			    <div class="mui-slider-item"><a href="#"><img src="static/images/logo.png" /></a></div>
			    <div class="mui-slider-item"><a href="#"><img src="static/images/ma.png" /></a></div>
			    <!--支持循环，需要重复图片节点-->
			    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="static/images/logo.png" /></a></div>
			  </div>
			</div>
			
			<div class="index-action-box">
				<button id="link-signin" type="button" class="mui-btn mui-btn-primary">签到</button>
				<button id="link-card" type="button" class="mui-btn mui-btn-primary">绑定</button>
				<button id="link-task" type="button" class="mui-btn mui-btn-primary">任务领取</button>
				<button id="link-cashout" type="button" class="mui-btn mui-btn-primary">提现</button>
			<!--
			<button id="link-baidu" type="button" class="mui-btn mui-btn-primary">test</button>
			-->
			</div>
			
			<div class="footer">
				<div id="link-home" class="footer-item">首页</div>
				<div id="link-task" class="footer-item">任务</div>
				<div id="link-gain" class="footer-item">收益</div>
				<div id="link-me" class="footer-item">我</div>
			</div>
		</div>

		<script src="../../static/js/util.js"></script>
		<script src="./../static/js/main.js"></script>
		<script type="text/javascript">
			(function() {
				
				mui.init({
					swipeBack: true //启用右滑关闭功能
				});
				
				//mui.plusReady(function() {
					// var self = plus.webview.currentWebview();

					document.getElementById('link-signin').addEventListener('tap', function(event) {
						if(! isLogin("")){
							//return ;
						}
						mui.openWindow({
							url: 'index.php?s=home/signin',
							id: 'link-signin',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'hide'
							},
							waiting: {
								autoShow: false
							}
						});
					}, false);
					
					document.getElementById('link-card').addEventListener('tap', function(event) {
						if(! isLogin("")){
							//return ;
						}
						mui.openWindow({
							url: 'html/card.html',
							id: 'link-card',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'hide'
							},
							waiting: {
								autoShow: false
							}
						});
					}, false);
					
					document.getElementById('link-task').addEventListener('tap', function(event) {
						if(! isLogin("")){
							//return ;
						}
						mui.openWindow({
							url: 'html/tab-task.html',
							id: 'link-task',
							preload: true,
							extras: {
								is_back:true 
							},
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'hide'
							},
							waiting: {
								autoShow: false
							}
						});
					}, false);
					/*
					document.getElementById('link-baidu').addEventListener('tap', function(event) {
						plus.webview.create('https://www.baidu.com', 'baidu', {popGesture:'hide',navigationbar:{backgroundColor:'#FFFFFF',titleColor:'#000000',backButton:{color:'#007AFF',colorPressed:'#0000FF'}}}).show('pop-in');
						
					});
					*/
				   
					document.getElementById('link-cashout').addEventListener('tap', function(event) {
						if(! isLogin("")){
							//return ;
						}
						mui.openWindow({
							url: 'html/cashout.html',
							id: 'link-cashout',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'hide'
							},
							waiting: {
								autoShow: false
							}
						});
					}, false);
					
		

					// 创建子webview窗口 并初始化
					/*
					var aniShow = {};
					util.initSubpage(aniShow);
					
					var 	nview = plus.nativeObj.View.getViewById('tabBar'),
						activePage = plus.webview.currentWebview(),
						targetPage,
						subpages = util.options.subpages,
						pageW = window.innerWidth,
						currIndex = 0;
					*/
						
					/**
					 * 根据判断view控件点击位置判断切换的tab
					 */
					/*
					nview.addEventListener('click', function(e) {
						var clientX = e.clientX;
						if(clientX > 0 && clientX <= parseInt(pageW * 0.25)) {
							currIndex = 0;
						} else if(clientX > parseInt(pageW * 0.25) && clientX <= parseInt(pageW * 0.45)) {
							currIndex = 1;
						} else if(clientX > parseInt(pageW * 0.45) && clientX <= parseInt(pageW * 0.8)) {			
							currIndex = 2;
						} else {
							currIndex = 3;
						}
						// 匹配对应tab窗口	
						if(currIndex > 0) {
							// 检查登录
							/*
							if(! isLogin("")){
								return ;
							}
							*//*
							targetPage = plus.webview.getWebviewById(subpages[currIndex - 1]);
						} else {
							targetPage = plus.webview.currentWebview();
						}

						if(targetPage == activePage) {
							return;
						}

						if(currIndex !== 4) { 
							//底部选项卡切换
							util.toggleNview(currIndex);
							// 子页面切换
							util.changeSubpage(targetPage, activePage, aniShow);
							//更新当前活跃的页面
							activePage = targetPage;
						} else {
							//第四个tab 打开新窗口
							// plus.webview.open('html/new-webview.html', 'new', {}, 'slide-in-right', 200);
						}
					});
					*/
					
					document.getElementById('link-login').addEventListener('tap', function(event) {
						
						mui.openWindow({
							url: 'login.html',
							id: 'link-login',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'hide'
							},
							waiting: {
								autoShow: false
							}
						});
					}, false);
				// });
				
				//获得slider插件对象
				var gallery = mui('.mui-slider');
				gallery.slider({
				  interval: 3000//自动轮播周期，若为0则不自动播放，默认为0；
				});
			})();
		</script>
	</body>

</html>