<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>invite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link href="../../static/css/main.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">收益规则</h1>
		</header>
		<div class="mui-content">
			<div class="dcc-box">
				<div class="dcc-title">1. 任务收益</div>
				<div class="dcc-cont">
					<p>完成每日任务，则可获得最高每日30%收益。</p>
					<p>新用户完成每日任务，每日收益1%。</p>
					<p>邀请5位新用户，每日收益增长至2%。</p>
					<p>邀请15位新用户，每日收益增长至4%。</p>
					<p>邀请50位新用户，每日收益增长至10%</p>
					<p>邀请100位新用户，每日收益增长至30%。</p>
				</div>
			</div>
			
			<div class="dcc-box">
				<div class="dcc-title">2. 邀请用户收益</div>
				<div class="dcc-cont">
					<p>
						每邀请1位用户，每日收益增加0.5%，每增加1位二级用户（所邀请的用户再邀请的新用户），每日收益增加0.25%。
					</p>
				</div>
			</div>
			
			<div class="dcc-box">
				<div class="dcc-title">3. 手续费</div>
				<div class="dcc-cont">
					<p>本金提现不收取手续费</p>
					<p>佣金收益提现手续费为50%。</p>
					<p>邀请满5位新用户，提现手续费为40%。</p>
					<p>邀请满15位新用户，提现手续费为25%。</p>
					<p>邀请满50位新用户，提现手续费为10%</p>
					<p>邀请满100位新用户，提现手续费为5%。</p>
				</div>
			</div>
		</div>
	</body>
	<script src="../../static/js/mui.min.js"></script>
	<script src="./../static/js/main.js"></script>
	<script>
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
	</script>
</html>
