<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>抖财财</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link href="../../static/css/main.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #efeff4;
				
			}
			.header-top{
				background-image: url(/static/images/me-bg2.png);
				color: #fff;
			}
			.me-info p{
				color: #fff;
			}

			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}

			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}

			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}

			.oa-contact-avatar {
				width: 75px;
			}

			.oa-contact-avatar img {
				border-radius: 50%;
			}

			.oa-contact-content {
				width: 100%;
			}

			.oa-contact-name {
				margin-right: 20px;
			}

			.oa-contact-name,
			oa-contact-position {
				float: left;
			}
			
			.top-icon{
				width: 100%;
				margin-bottom: 20px;
			}
			.top-icon .inner{
				width: 100%;
				margin: 0 auto;
				display: flex;
			}
			.top-icon .inner > div{
				width: 50%;
				padding: 10px;
				border-radius: 10px;
				border: 1px solid #ccc;
			}
			div.index-ac-box{
				display: block;
				margin-top: 60px;
			}
			
			li.mui-table-view-cell{
				padding: 16px 15px;
			}
			li.mui-table-view-cell:after{
				background-color: unset;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<h1 class="mui-title">个人中心</h1>
		</header>
		<div class="mui-content">
			<div class="header-top">
				<div class="me">
					<span class="mui-icon mui-icon-contact me-icon"></span>
					<div class="account" id="mobile">1888888888</div>
				</div>
				<div class="me-info">
					<p>
						我的邀请码：<span id="invite-code">8888</span>
						<button type="button" class="btn-copy" id="btn-copy">复制</button>
					</p>
					<p>已邀请用户： <span id="count"></span></p>
					<p>二级用户数：<span id="sub_count"></span></p>
				</div>

			</div>
			
			<ul class="mui-table-view">
				<li class="mui-table-view-cell icon-link">
					<a id="link-gain2" class="mui-navigate-right"><span
							class="mui-icon mui-icon-spinner-cycle mui-spin"></span>收益</a>
				</li>
				<li class="mui-table-view-cell icon-link">
					<a id="link-card" class="mui-navigate-right"><span
							class="mui-icon mui-icon-plusempty"></span>回款绑定</a>
				</li>
				<li class="mui-table-view-cell icon-link">
					<a id="link-shop" class="mui-navigate-right"><span
							class="mui-icon mui-icon-star"></span>商城</a>
				</li>
				<li class="mui-table-view-cell icon-link">
					<a id="link-invite" class="mui-navigate-right"><span class="mui-icon mui-icon-redo"></span>邀请用户</a>
				</li>
				<li class="mui-table-view-cell icon-link">
					<a id="link-rule" class="mui-navigate-right"><span class="mui-icon mui-icon-paperplane"></span>收益规则</a>
				</li>
				<li class="mui-table-view-cell icon-link">
					<a id="link-privacy" class="mui-navigate-right"><span class="mui-icon mui-icon-paperplane"></span>用户协议/隐私政策</a>
				</li>

			</ul>
			
			<!--
			<div class="index-ac-box">
				<div class="top-icon">
					<div class="inner">
						<div id="link-signin" class="box-item" style="background-color: #fff;">	
							<div class="icon-item item1"></div>
							<div class="item-txt">卡号绑定</div>
						</div>
						<div id="link-card" class="box-item" style="background-color: #fff;">
							<div class="icon-item item2"></div>
							<div class="item-txt">商城</div>
						</div>
					</div>
				</div>
				
				<div class="top-icon">
					<div class="inner">
						<div id="link-task" class="box-item" style="background-color: #fff;">
							<div class="icon-item item3"></div>
							<div class="item-txt">邀请用户</div>
						</div>
						<div id="link-cashout" class="box-item" style="background-color: #fff;">
							<div class="icon-item item4"></div>
							<div class="item-txt">收益规则</div>
						</div>
					</div>
				</div>
			</div>	
			-->
			<p style="padding-top: 10px; text-align: center; padding-bottom: 60px;">鲁ICP备2021028236号-1 <br />淄博抖财财网络科技有限公司版权所有<br />© 2021 - 2022 Doucaicai All Right Reserved.
</p>
		</div>
		
		<div class="footer">
			<div id="link-home" class="footer-item">首页</div>
			<div id="link-task2" class="footer-item">我的任务</div>
			<div id="link-gain" class="footer-item">收益</div>
			<div id="link-me" class="footer-item primary">我</div>
		</div>
	</body>
	<script src="../../static/js/mui.min.js"></script>
		<script src="./../static/js/main.js"></script>
	<script>
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		// mui.plusReady(function() { 
			mui.ajax(config.host + 'DccUser/info', {
					data: getToken(),
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					headers:{'Content-Type':'application/json'},
					success:function(data){
						console.log(data)
						//服务器返回响应，根据响应结果，分析是否登录成功；
						if(data.code == 0){
							// mui.alert(data.msg);
						}else if(data.code == 2){
							// delToken();	
						}else{
							
							var mobile = document.getElementById("mobile"),
								count = document.getElementById("count"),
								sub_count = document.getElementById("sub_count"),
								code = document.getElementById("invite-code");
							mobile.innerHTML = data.data.user.mobile;
							code.innerHTML = data.data.user.invite_code;
							var invite = data.data.invite_data;
							if(invite.count_pay != 0 && invite.count_pay != "0"){
								var count_val = invite.count + "(" + invite.count_pay + ")";
							}else{
								var count_val = invite.count;
							}
							count.innerHTML = count_val;
							
							if(invite.sub_count_pay != 0 && invite.sub_count_pay != "0"){
								var sub_count_val = invite.sub_count + "(" + invite.sub_count_pay + ")";
							}else{
								var sub_count_val = invite.sub_count;
							}
							sub_count.innerHTML = sub_count_val;
							
							if(! isLocalStorageSupported()){
								setCookie("invite_code", data.data.user.invite_code, 5);
							}else{
								localStorage.setItem("invite_code", data.data.user.invite_code);
							}
						}
						
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						console.log(type);
					}
			});
			
			document.getElementById('btn-copy').addEventListener('tap', function(event) {
				var text = document.getElementById("invite-code").innerHTML;
				copyFun(text);
				
			}, false);
			
			document.getElementById('link-shop').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'Home/shop',
					id: 'link-shop',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			document.getElementById('link-privacy').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'Home/privacy',
					id: 'link-privacy',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			

			document.getElementById('link-gain2').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/tabgain',
					id: 'link-gain2',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			document.getElementById('link-gain').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/tabgain',
					id: 'link-gain',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			document.getElementById('link-card').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/card',
					id: 'link-card',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			document.getElementById('link-invite').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/invite',
					id: 'link-invite',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			document.getElementById('link-rule').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/rule',
					id: 'link-rule',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
		// });

		
	</script>
</html>
