<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link href="../../static/css/main.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}

			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}

			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}

			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}

			.oa-contact-avatar {
				width: 75px;
			}

			.oa-contact-avatar img {
				border-radius: 50%;
			}

			.oa-contact-content {
				width: 100%;
			}

			.oa-contact-name {
				margin-right: 20px;
			}

			.oa-contact-name,
			oa-contact-position {
				float: left;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<h1 class="mui-title">个人中心</h1>
		</header>
		<div class="mui-content">
			<div class="header-top">
				<div class="me">
					<span class="mui-icon mui-icon-contact me-icon"></span>
					<div class="account" id="mobile">1888888888</div>
				</div>
				<div class="me-info">
					<p>
						我的邀请码：<span id="invite-code">8888</span>
						<button type="button" class="btn-copy" id="btn-copy">复制</button>
					</p>
					<p>已邀请用户： <span id="count"></span></p>
					<p>二级用户数：<span id="sub_count"></span></p>
				</div>

			</div>

			<ul class="mui-table-view">
				<li class="mui-table-view-cell icon-link">
					<a id="link-card" class="mui-navigate-right"><span
							class="mui-icon mui-icon-plusempty"></span>卡号绑定</a>
				</li>
				<li class="mui-table-view-cell icon-link">
					<a id="link-shop" class="mui-navigate-right"><span
							class="mui-icon mui-icon-star"></span>商城</a>
				</li>
				<li class="mui-table-view-cell icon-link">
					<a id="link-invite" class="mui-navigate-right"><span class="mui-icon mui-icon-redo"></span>邀请用户</a>
				</li>
				<li class="mui-table-view-cell icon-link">
					<a id="link-rule" class="mui-navigate-right"><span class="mui-icon mui-icon-paperplane"></span>收益规则</a>
				</li>

			</ul>
		</div>
		
		<div class="footer">
			<div id="link-home" class="footer-item">首页</div>
			<div id="link-task2" class="footer-item">任务</div>
			<div id="link-gain" class="footer-item">收益</div>
			<div id="link-me" class="footer-item primary">我</div>
		</div>
	</body>
	<script src="../../static/js/mui.min.js"></script>
		<script src="./../static/js/main.js"></script>
	<script>
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		// mui.plusReady(function() { 
			mui.ajax(config.host + 'index.php?s=DccUser/info', {
					data: getToken(),
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					headers:{'Content-Type':'application/json'},
					success:function(data){
						console.log(data)
						//服务器返回响应，根据响应结果，分析是否登录成功；
						if(data.code == 0){
							mui.alert(data.msg);
						}else{
							
							var mobile = document.getElementById("mobile"),
								count = document.getElementById("count"),
								sub_count = document.getElementById("sub_count"),
								code = document.getElementById("invite-code");
							mobile.innerHTML = data.data.user.mobile;
							code.innerHTML = data.data.user.invite_code;
							count.innerHTML = data.data.invite_data.count;
							sub_count.innerHTML = data.data.invite_data.sub_count;
						}
						
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						console.log(type);
					}
			});
			
			document.getElementById('btn-copy').addEventListener('tap', function(event) {
				var text = document.getElementById("invite-code").innerHTML;
				copyFun(text);
				
			}, false);
			
			document.getElementById('link-shop').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/shop',
					id: 'link-shop',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			document.getElementById('link-card').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/card',
					id: 'link-card',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			document.getElementById('link-invite').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=invite/invite',
					id: 'link-invite',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			document.getElementById('link-rule').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/rule',
					id: 'link-rule',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
		// });

		
	</script>
</html>
