<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>抖财财</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link href="../../static/css/main.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<a id="is-back" class="hide mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的任务</h1>
		</header>
		<div class="mui-content" id="task-box">

			<ul id="task-me-list" class="mui-table-view">
				
			</ul>
		</div>

		<div class="footer">
			<div id="link-home" class="footer-item">首页</div>
			<div id="link-task2" class="footer-item primary">任务</div>
			<div id="link-gain" class="footer-item">收益</div>
			<div id="link-me" class="footer-item">我</div>
		</div>
	</body>
	<script src="../../static/js/mui.min.js"></script>
	<script src="./../static/js/main.js"></script>
	<script>
		mui.init({
			swipeBack: true, //启用右滑关闭功能
		});

		// mui.plusReady(function() {
		/*
		var self = plus.webview.currentWebview();  
		var is_back = self.is_back;  
		if(is_back === true){
			document.getElementById("is-back").classList.remove("hide");
		}
		*/

		mui.ajax(config.host + 'index.php?s=Task/getMeTask', {
			data: getToken(),
			dataType: 'json', //服务器返回json格式数据
			type: 'post', //HTTP请求类型
			timeout: 10000, //超时时间设置为10秒；
			headers: {
				'Content-Type': 'application/json'
			},
			success: function(data) {
				console.log(data)
				//服务器返回响应，根据响应结果，分析是否登录成功；
				if (data.code == 0) {
					mui.alert(data.msg);
				} else {
					var html = "";
					for (var i in data.data) {	
						var status_name = "进行中",
							type = "warning";
						if(data.data[i].status == 1){
							status_name = "已完成";
							type = "success";
						}
						html += '<li class="mui-table-view-cell c-item">' +
							'<div class="t-info">' +
							'<span>' + data.data[i].name + '</span>' +
							'<div class="mui-progressbar take-process" data-status="' + data.data[i].status + '"><span></span></div></div>' + 
							'<div class="r-right"><span class="mui-badge mui-badge-' + type + '">' +
							status_name + '</span></div></li>';
							
					}
					var tlist = document.getElementById("task-me-list");
					tlist.innerHTML = html;
					setTimeout(function(){
						mui(".take-process").each(function(){
							var num = 20;
							if(this.getAttribute("data-status") == 1){
								num = 100;
							}
							mui(this).progressbar({
								progress: num
							}).show();
						});
					}, 20);
				}

			},
			error: function(xhr, type, errorThrown) {

			}
		});

		
		// });

	</script>
</html>
