<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>抖财财</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link href="../../static/css/main.css" rel="stylesheet" />
		<style>
			html,body {
				background-color: #efeff4;
			}
			.btn-cashout{
				font-size: 14px;
				padding: 10px 0;
			}
			li.c-item .t-info{
				width: auto;
			}
			
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<h1 class="mui-title">我的收益</h1>
		</header>
		<div class="mui-content">
			
			<ul class="mui-table-view">
			    <li class="mui-table-view-cell c-item">
					<div class="t-info">
						<span>账户余额：</span><span id="capital"></span>
					</div>
					
					
				</li>
				<!--
			    <li class="mui-table-view-cell c-item">
			    	<div class="t-info">
			    		<span>任务收益：</span><span id="task-gain"></span>
			    	</div>
			    	<div class="r-right">
			    		<button id="link-task" type="button">接任务</button>
			    	</div>
			    	
			    </li>
				-->
				<li class="mui-table-view-cell c-item">
					<div class="t-info">
						<span>收益：</span><span id="invite-gain"></span>
					</div>
					<div class="r-right">
						<button id="link-invite" type="button">邀请用户</button>
					</div>
					
				</li>
				<li class="mui-table-view-cell c-item">
					<div class="t-info">
						<!-- 上面3项相加 -->
						<span>可提现总额：</span><span id="total"></span>
					</div>
					
					
				</li>
			</ul>
		</div>
		<div class="action-box">
			<button id="link-cashout" type="button" class="mui-btn mui-btn-block mui-btn-primary btn-cashout">提现</button>
		</div>
		
		<div class="footer">
			<div id="link-home" class="footer-item">首页</div>
			<div id="link-task2" class="footer-item">任务</div>
			<div id="link-gain" class="footer-item primary">收益</div>
			<div id="link-me" class="footer-item">我</div>
		</div>
	</body>
	<script src="../../static/js/mui.min.js"></script>
		<script src="./../static/js/main.js"></script>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		
		// mui.plusReady(function() {
			document.getElementById('link-cashout').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/cashout',
					id: 'link-cashout',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			/*
			document.getElementById('link-task').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/taskall',
					id: 'link-taskall',
					preload: true,
					extras: {
						is_back:true 
					},
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			*/
			document.getElementById('link-invite').addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'index.php?s=home/invite',
					id: 'link-invite',
					preload: true,
					show: {
						aniShow: 'pop-in'
					},
					styles: {
						popGesture: 'hide'
					},
					waiting: {
						autoShow: false
					}
				});
			}, false);
			
			mui.ajax(config.host + 'index.php?s=DccUser/getUserGain', {
				data: getToken(),
				dataType:'json',//服务器返回json格式数据
				type:'post',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
				headers:{'Content-Type':'application/json'},
				success:function(data){
					console.log(data)
					//服务器返回响应，根据响应结果，分析是否登录成功；
					if(data.code == 0){
						// mui.alert(data.msg);
					}else if(data.code == 2){
						
					}else{
						var res = data.data;
						if(res.capital == "null" || ! res.capital){
							res.capital = 0;
						}
						if(res.gain == "null" || ! res.gain){
							res.gain = 0;
						}
						if(res.total == "null" || ! res.total){
							res.total = 0;
						}
						document.getElementById("capital").innerHTML = res.capital + "元";
						// document.getElementById("task-gain").innerHTML = res.task_gain + "元";
						document.getElementById("invite-gain").innerHTML = res.gain + "元";
						document.getElementById("total").innerHTML = res.total + "元";
					}
					
				},
				error:function(xhr,type,errorThrown){
					
				}
			});
			
			
		// });
	</script>
</html>